{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'ICONS/logo_sae.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'CSS/styles_HOME.css' %}">
</head>
<body>
    <header class="navbar">
        <!-- Menú desplegable a la izquierda -->
        <div class="menu-container">
            <button class="menu-icon" onclick="toggleMenu()">&#9776;</button>
            <div class="dropdown-menu" id="dropdown-menu">
                <a href="{% url 'UPLOAD_ADMIN' %}">Subir</a>
                <a href="{% url 'SEARCH_ADMIN' %}">Buscar</a>
                <a href="#">Editar usuarios</a>
            </div>
        </div>

        <img src="{% static 'ICONS/logoo.png' %}" alt="Logo Sae" class="logo">

        <!-- Menú desplegable a la derecha con icono de perfil -->
        <div class="profile-menu-container">
            <button class="profile-icon" onclick="toggleProfileMenu()">
                <img src="{% static 'ICONS/user_2.ico' %}" alt="Perfil">
            </button>
            <div class="dropdown-menu" id="profile-menu">
                <a href="#">Mi Perfil</a>
                <a href="#">Configuración</a>
                <a href="{% url 'index' %}">Cerrar Sesión</a>
            </div>
        </div>
    </header>



    <h1>Bienvenido ...</h1>

    <main>
        <div class="background"></div>
        <div class="Tabla">
        </div>
    </main>

    <footer class="navbar">
        <div class="nav-links">
            <a href="#">Soporte</a>
            <a href="https://www.youtube.com/watch?v=YW4DbwujexU">Tutorial</a>
            <a href="#">copy@</a>
        </div>
    </footer>

    <script>
        function toggleMenu() {
            const menu = document.getElementById('dropdown-menu');
            menu.style.display = (menu.style.display === 'block') ? 'none' : 'block';
        }

        function toggleProfileMenu() {
            const profileMenu = document.getElementById('profile-menu');
            profileMenu.style.display = (profileMenu.style.display === 'block') ? 'none' : 'block';
        }
    </script>
</body>
</html>
