{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'ICONS/logo_sae.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles_Login.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'ICONS/logo_sae.ico' %}" alt="Logo Sae" class="logo">
        <h1>Welcome to Sae</h1>
    </header>

    <main>
        <div class="background"></div>
        <div class="login-form">
            <h2>Iniciar Sesión</h2>

            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="User Name" required>

                <div class="password-field">
                    <input type="password" id="password" name="password" placeholder="Password" required>
                    <button type="button" id="toggle-password" class="toggle-password">&#128065;</button>
                </div>

                <input type="text" name="stationCode" placeholder="Station Code" required>

                <button type="submit" class="login-btn">
                    Login <img src="{% static 'ICONS/favicon.ico' %}" alt="Login Icon" class="btn-icon">
                </button>
            </form>

            <a href="{% url 'RECOVERY' %}">Recover your password</a>

            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </div>
    </main>

    <script>
        // Mostrar/ocultar contraseña
        document.getElementById('toggle-password').addEventListener('click', function () {
            const passwordField = document.getElementById('password');
            passwordField.type = passwordField.type === 'password' ? 'text' : 'password';
            this.textContent = passwordField.type === 'password' ? '👁' : '🙈';
        });
    </script>
</body>
</html>
