{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'ICONS/logo_sae.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles_Recovery.css'%}">
    <meta charset="UTF-8">
    <title>Recuperar Contraseña</title>
</head>
<body>

<!-- Barra azul superior -->
<div class="navbar">
    <img src="{% static 'ICONS/logoo.png' %}" alt="Logo">
    <h1></h1>
</div>

<main>
    <div class="background"></div>

    <!-- Formulario de recuperación de contraseña -->
    <div class="login-form">
        <h2>Ingresa tu Correo Electrónico</h2>

        <form method="POST">
            {% csrf_token %}

            <!-- Campo para el correo electrónico -->
            <input type="email" name="email" id="email" placeholder="correoejemplo@gmail.com" required>

            <!-- Contenedor de botones alineados -->
            <div class="button-container">
                <a href="{% url 'index' %}">
                    <button type="button" class="btn-cancel-email btn-uniform">
                        Cancelar
                    </button>
                </a>
               <a href="#">
                    <button type="button" class="btn-mail btn-uniform">
                        Enviar
                    </button>
                </a>
            </div>
        </form>
    </div>
</main>

<!-- Barra azul inferior con enlaces -->
<footer class="navbar">
    <div class="nav-links">
        <a href="#">Soporte</a>
        <a href="https://www.youtube.com/watch?v=YW4DbwujexU">Tutorial</a>
        <a href="#">copy@</a>
    </div>
</footer>

</body>
</html>
